# Exercise 2

In [230]:
from math import sqrt, log
import pandas as pd

## Step 1: Enter your data

Add a new row after each pull: Pull number, Machine played ("A", "B", "C"), and Reward earned.

In [231]:
data = pd.DataFrame({
    "Pull": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
             28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],          # Pull number
    "Machine": ["A", "B", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C",
    "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C", "C","C", "C", "C", "C", "C"], # Which machine was played
    "Reward": [0, 0, 30, 0, 0, 0, 0, 0, 10, 30, 2, 0, 0, 5, 5, 0, 0, 5, 0, 5, 0, 2, 0, 0, 0, 0, 0,
               0, 0, 15, 0, 0, 0, 0, 0, 15, 0, 0, 6, 2, 0, 5, 2, 0, 0, 5, 0, 0, 10, 0]         # Reward received from that machine
})

# Step 2: Calculate UCB

In [232]:
def calculate_ucb(df):
    results = []
    total_pulls = len(df)
    machines = sorted(df["Machine"].unique())

    for machine in machines:
        machine_data = df[df["Machine"] == machine]
        n_j = len(machine_data)
        avg_reward = machine_data["Reward"].mean()
        exploration_bonus = sqrt((2 * log(total_pulls)) / n_j) if n_j > 0 else float("inf")
        ucb_score = avg_reward + exploration_bonus
        results.append({
            "Machine": machine,
            "Pulls": n_j,
            "Avg Reward": round(avg_reward, 2),
            "Exploration Bonus": round(exploration_bonus, 4),
            "UCB Score": round(ucb_score, 4)
        })
    return pd.DataFrame(results).sort_values(by="UCB Score", ascending=False)


# Step 3: Calculate and display

In [233]:
ucb_table = calculate_ucb(data)
print("ðŸ“Š UCB Results Table")
print(ucb_table)

ðŸ“Š UCB Results Table
  Machine  Pulls  Avg Reward  Exploration Bonus  UCB Score
2       C     48        3.21             0.4037     3.6121
0       A      1        0.00             2.7971     2.7971
1       B      1        0.00             2.7971     2.7971

# Step 4: Next machine suggestion

In [234]:
best_machine = ucb_table.iloc[0]["Machine"]
print(f"\nðŸŽ¯ Recommended next machine to play: {best_machine}")

ðŸŽ¯ Recommended next machine to play: C

Reflection: Out of 50 pulls, Machine C gives the highest rewards among the rest.